.bg--purple {
  background-color: #29337b;
  color: #fff; }

.bg--purple__light {
  background-color: #3c4bb4;
  color: #000; }

.bg--purple__dark {
  background-color: #161b42;
  color: #fff; }

.block {
  display: block;
  margin: 0 auto;
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.pull-right {
  float: right; }

body {
  font-family: sans-serif, "Helvetica Neue";
  margin: 0; }

.header {
  padding: 10px 40px;
  border-bottom: 10px solid #2ecc71; }
  .header:after {
    content: "";
    display: block;
    clear: both; }

.main {
  border-top: 10px solid #00aee5; }

.container {
  padding: 2rem; }

.btn--blue {
  background-color: #00aee5;
  color: #fff; }

.btn--blue__light {
  background-color: #33ceff;
  color: #000; }

.btn--blue__dark {
  background-color: #007499;
  color: #fff; }

.btn--green {
  background-color: #2ecc71;
  color: #fff; }

.btn--green__light {
  background-color: #69dd9a;
  color: #000; }

.btn--green__dark {
  background-color: #208e4e;
  color: #fff; }

.btn--yellow {
  background-color: #ecb40b;
  color: #fff; }

.btn--yellow__light {
  background-color: #f7cc4d;
  color: #000; }

.btn--yellow__dark {
  background-color: #a37c08;
  color: #fff; }

.btn--red {
  background-color: #e91e63;
  color: #fff; }

.btn--red__light {
  background-color: #f06493;
  color: #000; }

.btn--red__dark {
  background-color: #aa1145;
  color: #fff; }

.btn--sm {
  font-size: 0.7rem; }

.btn--md {
  font-size: 1.2rem; }

.btn--lg {
  font-size: 1.8rem; }

.btn--blue__transparent {
  background-color: transparent;
  border: 2px solid #00aee5;
  color: #00aee5; }

.btn--green__transparent {
  background-color: transparent;
  border: 2px solid #2ecc71;
  color: #2ecc71; }

.btn--yellow__transparent {
  background-color: transparent;
  border: 2px solid #ecb40b;
  color: #ecb40b; }

.btn--red__transparent {
  background-color: transparent;
  border: 2px solid #e91e63;
  color: #e91e63; }

.btn:disabled {
  color: #6d6e71;
  cursor: not-allowed; }
  .btn:disabled:hover {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shake; }

[class*="btn"] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  transition: .3s; }
  [class*="btn"]:hover {
    opacity: .75; }

.btn-rounded {
  border-radius: 100px; }

.animation {
  animation-duration: 1s;
  animation-fill-mode: both; }

.infinite {
  animation-iteration-count: infinite; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

@keyframes success {
  0% {
    transform: translateY(-6px);
    opacity: 1; }
  50% {
    transform: translateY(6px);
    opacity: .8; }
  100% {
    transform: translateY(-6px);
    opacity: 1; } }

@keyframes rubber {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes zoom {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes calling {
  from {
    box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.3); }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.3); }
  to {
    box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.3); } }

.shake {
  animation-name: shake; }

.success {
  animation-name: success; }

.bounce {
  animation-name: bounce; }

.rubber {
  animation-name: rubber; }

.zoom {
  animation-name: zoom; }

.calling {
  animation-name: calling; }
