[class*="bg-yellow"] {
  background: #ecb40b; }

[class*="bg-red"] {
  background: #e91e63; }

[class*="bg-blue"] {
  background: #00aee5; }

[class*="bg-green"] {
  background: #2ecc71; }

[class*="bg-purple"] {
  background: #29337b; }

[class*="text-white"] {
  color: #fff; }

.block {
  display: block;
  margin: 0 auto;
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.pull-right {
  float: right; }

body {
  font-family: sans-serif, "Helvetica Neue";
  margin: 0; }

.header {
  padding: 10px 40px;
  border-bottom: 10px solid #2ecc71; }
  .header:after {
    content: "";
    display: block;
    clear: both; }

.main {
  border-top: 10px solid #00aee5; }

.container {
  padding: 2rem; }

.btn:disabled {
  color: #6d6e71;
  cursor: not-allowed; }
  .btn:disabled:hover {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shake; }

[class*="btn"] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  transition: .3s; }
  [class*="btn"]:hover {
    opacity: .75; }

.btn-rounded {
  border-radius: 100px; }

.animation {
  animation-duration: 1s;
  animation-fill-mode: both; }

.infinite {
  animation-iteration-count: infinite; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

@keyframes success {
  0% {
    transform: translateY(-6px);
    opacity: 1; }
  50% {
    transform: translateY(6px);
    opacity: .8; }
  100% {
    transform: translateY(-6px);
    opacity: 1; } }

@keyframes rubber {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes zoom {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes calling {
  from {
    box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.3); }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.3); }
  to {
    box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.3); } }

.shake {
  animation-name: shake; }

.success {
  animation-name: success; }

.bounce {
  animation-name: bounce; }

.rubber {
  animation-name: rubber; }

.zoom {
  animation-name: zoom; }

.calling {
  animation-name: calling; }
