body {
  font-family: sans-serif, "Helvetica Neue";
  margin: 0; }

.header {
  padding: 10px 40px;
  border-bottom: 10px solid #2ecc71; }
  .header:after {
    content: "";
    display: block;
    clear: both; }

.container {
  border-top: 10px solid #00aee5;
  color: #999999;
  padding: 0 30px;
  margin: 0 auto; }

.uppercase {
  text-transform: uppercase; }

.pull-right {
  float: right; }

[class^="btn"] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  margin: 10px auto; }
  [class^="btn"]:hover {
    opacity: .75; }

.btn--blue {
  background-color: #00aee5;
  color: #b2edff; }

.btn--blue__light {
  background-color: #4cd4ff;
  color: #00607f; }

.btn--blue__dark {
  background-color: #00607f;
  color: #4cd4ff; }

.btn--green {
  background-color: #2ecc71;
  color: #d1f5e0; }

.btn--green__light {
  background-color: #7ee2a8;
  color: #1b7943; }

.btn--green__dark {
  background-color: #1b7943;
  color: #7ee2a8; }

.btn:disabled {
  cursor: not-allowed; }

.animation {
  animation-duration: 1s;
  animation-fill-mode: both; }

.infinite {
  animation-iteration-count: infinite; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

@keyframes success {
  0% {
    transform: translateY(6px);
    opacity: 1; }
  50% {
    transform: translateY(0px);
    opacity: .8; }
  100% {
    transform: translateY(6px);
    opacity: 1; } }

.shake {
  animation-name: shake; }

.success {
  animation-name: success; }

.bounce {
  animation-name: bounce; }
