// mixing to change background color to any element with element--$color plus get light/dark versions automatically by adding __light or __dark at the end of your class
@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
      color: text-color($color);
    }
    &--#{$theme}__light {
      background-color: lighten($color, 20%);
      color: text-color(lighten($color, 20%));
    }
    &--#{$theme}__dark {
      background-color: darken($color, 20%);
      color: text-color(darken($color, 20%));
    }
  }
}

