// Colors
$blue: #00aee5;
$green: #2ecc71;
$grey: #6d6e71;
$white: #fff;

// colors object for bg-color mixin

$btn-colors: (
        blue : $blue,
        green : $green
);


// Font
$font-default: sans-serif, "Helvetica Neue";
