[class*="bg-yellow"] {
  background: $yellow;
}

[class*="bg-red"] {
  background: $red;
}

[class*="bg-blue"] {
  background: $blue;
}

[class*="bg-green"] {
  background: $green;
}

[class*="bg-purple"] {
   background: $purple;
 }

