// Mixing to change background color to any element with element--$color plus get light/dark versions automatically by adding __light or __dark at the end of your class
@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
      color: $white;
    }
    &--#{$theme}__light {
      background-color: lighten($color, 15%);
      color: $black;
    }
    &--#{$theme}__dark {
      background-color: darken($color, 15%);
      color: $white;
    }
  }
}
// Mixings for buttons
@mixin btn-transparent($map) {
  @each $theme, $color in $map {
    &--#{$theme}__transparent {
      background-color: transparent;
      border: 2px solid $color;
      color: $color;
    }
  }
}

@mixin btn-size($map) {
  @each $theme, $font-size in $map {
    &--#{$theme} {
      font-size: $font-size;
    }
  }
}

// mixing for the header

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

