.btn {
  @include bg-colors($colors);

  &:disabled {
    cursor: not-allowed;
  }
}

%btn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  margin: 10px auto;
  &:hover  {
    opacity: .80;
  }
}

[class^="btn"] {
  @extend %btn;
}
