%btn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  &:hover  {
    opacity: .75;
  }
}

.btn {
  @include bg-colors($btn-colors);

  &:disabled {
    cursor: not-allowed;
    &:hover {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: shake;
    }
  }
}

[class^="btn"] {
  @extend %btn;
}


