%btn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  transition: .3s;
  &:hover  {
    opacity: .75;
  }
}

.btn {
  @include bg-colors($btn-colors);
  @include btn-size($btn-size);
  @include btn-transparent($btn-colors);

  &:disabled {
    cursor: not-allowed;
    &:hover {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: shake;
    }
  }
}

[class*="btn"] {
  @extend %btn;
}

.btn--rounded {
  border-radius: 100px;
}

