body {
  font-family: $font-default;
  margin: 0;
}

.header {
  @include clearfix;
  padding: 10px 40px;
  border-bottom: 10px solid $green;
}

.main {
  border-top: 10px solid $blue;
}

.container {
  padding: 2rem;
}






