body {
  font-family: $font-default;
  margin: 0;
}

.header {
  @include clearfix;
  padding: 10px 40px;
  border-bottom: 10px solid $green;
}

.container {
  border-top: 10px solid $blue;
  color: $grey;
  padding: 40px;
  margin: 0 auto;
}


